body {
    background-color: #115270;
    font-family: Montserrat, sans-serif;

}


.container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

    /* LOGIN PAGE */

    .login_portal_div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height:60%;
        width: 100%;
        background-color: #00a694;
        border: solid;
        border-width: 5px;
        border-color: black;
        border-radius: 20px;
    }

    .title_div {
        display: flex;
        justify-content: center;

    }

        .title_text {
            font-weight:bolder;
            color: white;
            font-size: 40px;
        }

    .login_div {
        display: flex;
        width:90%;
        justify-content: center;
        align-items: center;
    }

        .mb-4 {
            color: white;
        }


        .btn-primary {
            background-color:#f7941f;
            border-color: black;
        }

        .col {
            display: flex;
            justify-content: center;

        }

        .forgot {
            color: white;
            text-decoration: underline;
        }

    .manager_portal_div {
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

        .manager_content_div {
            display: flex;
            justify-content: space-around;
            height: 100%;
            width: 100%;
        }

        .manager_view_div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height:100%;
            width: 45%;
            background-color: #00a694;
            border: solid;
            border-width: 5px;
            border-color: black;
            border-radius: 20px;
        }

            
            .manager_text {
                font-weight:bolder;
                color: white;
                font-size: 30px;
                text-decoration: underline;
            }
        
        .list {
            color: white;
            font-size: 25px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }

        .input_item {
            width: 180px;
            margin:5px;
            border-radius: 5px;
        }

        .input_item:hover {
            background-color: #f7941f;
        }



    .report_div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height:40%;
        width: 90%;
        background-color: #00a694;
        border: solid;
        border-width: 5px;
        border-color: black;
        border-radius: 20px;
        margin-top:2%;
    }

        .quarter_div {
            display: flex;
            justify-content: center;
        }

        .report_button_div {
            display: flex;
            justify-content: center;
        }

            .report_button {
                width: 300px;
                height: 50px;
                margin:5px;
                border-radius: 5px;
                font-size:xx-large;
            }

            .report_button:hover {
                background-color: #f7941f;
            }


