{% extends "base.html" %} {% block title %} Home Page {% endblock%}
{% block content %}

    <div class="home_portal_div">
        <div class="portal_text_div">
            <h1> Choose Your Portal </h1>
        </div>
        <div class="portal_login_div">
            <div class="salesperson_login_div">
                <form action='login/' method='POST' style='display:contents'>
                    {% csrf_token %}
                    <input type='hidden' name='login_type', value='Salesperson'>
                    <a href="login"><button class="salesperson_login_button">Sales<br> Login Portal</button></a>
                </form>
            </div>
            <form action='login/' method='POST' style='display:contents'>
                {% csrf_token %}
                <div class="manager_login_div">
                    <input type='hidden' name='login_type', value='Manager'>
                    <a href="login"><button class="manager_login_button">Manager<br> Login Portal</button></a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}