{% extends "base.html" %} {% block title %} Home Page {% endblock%}
{% block content %}
    <div class="portal_div">
        <div class="portal_text_div">
            <h1> Choose Your Portal </h1>
        </div>
        <div class="portal_login_div">
            <div class="salesperson_login_div">
                <button class="salesperson_login_button">Sales<br> Login Portal</button>
            </div>
            <div class="manager_login_div">
                <button class="manager_login_button">Manager<br> Login Portal</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}