{% extends "base.html" %} {% block title %} Manager Portal {% endblock%}
{% block content %}
<div class="manager_portal_div">
    <div class="title_div">
        {% csrf_token %}
        <h1 class="title_text">Welcome,  {{ man.first_name }} {{ man.last_name }}  </h1>
    </div>
    <div class="manager_content_div"> 
        <div class="manager_view_div">
            <div class="title_div">
                <h1 class="manager_text">View Database</h1>
            </div>
            <div class="list">
                <form action='view/' method='POST'> 
                    {% csrf_token %}
                    <input type='hidden' name='manager_id', value='{{ man.id }}'>
                    <input class='input_item' type='submit' name='view_type' value='product'>
                </form>
                <form action='view/' method='POST'>                    
                    {% csrf_token %}
                    <input type='hidden' name='manager_id', value='{{ man.id }}'>
                    <input class='input_item' type='submit' name='view_type' value='salesperson'>
                </form>
                <form action='view/' method='POST'>                    
                    {% csrf_token %}
                    <input type='hidden' name='manager_id', value='{{ man.id }}'>
                    <input class='input_item' type='submit' name='view_type' value='customer'>
                </form>
                <form action='view/' method='POST'>
                    {% csrf_token %}                 
                    <input type='hidden' name='manager_id', value='{{ man.id }}'>
                    <input class='input_item' type='submit' name='view_type' value='sale'>
                </form>
                <form action='view/' method='POST'>
                    {% csrf_token %}    
                    <input type='hidden' name='manager_id', value='{{ man.id }}'>
                    <input class='input_item' type='submit' name='view_type' value='discount'>
                </form>
            </div>
        </div>
    </div>
    <div class="report_div">
        <form method='POST'>  
            <h6 style='color:white'>Input Desired Year & Fiscal Quarter</h1> 
            <div class='quarter_div'>
                <input class="quarter_input" name="year" value='2024'/><input class="quarter_input"name="quarter" value='Q3'/>
            </div>
            <div class='report_button_div'>
                <input class='report_button' type='submit' name='view_type' value='Generate Report'>
            </div>
        </form>
    </div>
</div>

{% endblock %}